{% extends 'base.html.twig' %}

{% block title %} - {{ 'edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'edit'|trans }}</h1>

    {{ form_start(edit_form, {
        action: path('config_edit', { id: config.id|default(1) }),
        method: 'POST',
        attr: { id: 'config-edit-form' }
    }) }}
        {{ form_widget(edit_form) }}
        {{ include('common/_form_actions.html.twig', {
            submit_label: 'save'|trans,
            back_href: path('settings_index'),
            back_label: 'back.tolist'|trans
        }) }}
    {{ form_end(edit_form) }}
{% endblock %}
