{% extends 'base.html.twig' %}

{% block title %} - {{ 'settings'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'settings'|trans }}</h1>

    <table class="form">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for config in configs %}
            <tr>
                <td>{{ config.id }}</td>
                <td>
                    <a class="button" href="{{ path('settings_index') }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no config found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
