{% extends 'base.html.twig' %}

{% block title %} - {{ 'settings'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'settings'|trans }}</h1>

    <table class="form">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ config.id }}</td>
            </tr>
        </tbody>
    </table>

    <div class="button-wrapper">
        <a class="button" href="{{ path('settings_index') }}">{{ 'back.tolist'|trans }}</a>
        <a class="button" href="{{ path('settings_index') }}">{{ 'edit'|trans }}</a>
    </div>
{% endblock %}
