<div class="settings-view">
    <section class="settings clearfix">
        <h2>{{ 'library'|trans }}</h2>
        <table class="library-info">
            <tr>
                <td>{{ 'files'|trans }}</td>
                <td id="num-files">{{ infos[0] }}</td>
            </tr>
            <tr>
                <td>{{ 'artists'|trans }}</td>
                <td id="num-artists">{{ infos[1] }}</td>
            </tr>
            <tr>
                <td>{{ 'albums'|trans }}</td>
                <td id="num-albums">{{ infos[2] }}</td>
            </tr>
        </table>
        <div class="button-wrapper">
            <a id="scan-button" class="button" href="{{ path('radio_index') }}">{{ 'scan'|trans }}</a>
        </div>
    </section>

    <section class="settings clearfix">
        <h2>{{ 'settings'|trans }}</h2>
        {{ form_start(edit_form, {
            'action': path('config_edit', { 'id': 1 }),
            'method': 'POST',
            'attr': {'id': 'settings-form'}
        }) }}
            <table class="library-info">
                <tr>
                    <td><label for="config_language" class="required">{{ 'language'|trans }}</label></td>
                    <td>{{ form_widget(edit_form.language) }}</td>
                </tr>
                <tr>
                    <td><label for="config_theme" class="required">{{ 'theme'|trans }}</label></td>
                    <td>{{ form_widget(edit_form.theme) }}</td>
                </tr>
            </table>

            {{ form_rest(edit_form) }}

            <div class="button-wrapper">
                <input id="settings-form-button" class="button" type="button" value="{{ 'save'|trans }}"/>
            </div>

            {{ form_end(edit_form, {'render_rest': false}) }}

    </section>
</div>
