<div class="albums-view view">
    {% for album in albums %}
        <div class="album-container" data-album-id="{{ album.id }}" data-artist="" data-album="{{ album.albumSlug }}">
            <div class="img-wrapper">
                {% set coverSrc = album.coverArtPath ?: '/img/cover.jpg' %}
                <img class="lozad" data-src="{{ coverSrc }}" alt="{{ album.name }}">
            </div>

            <div class="album-infos">
                <div class="album-info-album">
                    {{ album.name }}
                </div>

                <div class="album-info-artist">
                    {% if album.artists|length > 1 %}
                        Various
                    {% elseif album.artists|length == 1 %}
                        {{ album.artists|first }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        no album found
    {% endfor %}
</div>
