{% if album is null %}
    <h1>album not found</h1>
{% else %}
    <div class="single-album-view view">
        <div class="single-album-container">
            <div class="img-wrapper">
                <img class="single-album" src="{{ album.path }}/cover.jpg" alt="{{ album.name }}">
            </div>
            <div class="album-title">
                {{ album.name }}
            </div>
            <div class="album-artist">
                {% for artist in album.artists %}
                    {{ artist }}<br>
                {% endfor %}
            </div>
            <div>
                <table class="album-songs">
                    <tbody>
                        {% for song in album.songs %}
                            <tr>
                                <td>{{ song.trackNumber }}</td>
                                <td>{{ song.title }}</td>
                                <td>{{ song.duration }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}
