<tbody>
{% for song in songs %}
    <tr data-path="{{ song.webPath }}" data-duration="{{ song.duration }}">
        <td class="add"><i class="icon-plus" role="button" tabindex="0" aria-label="{{ 'playlist.add'|trans|default('Add song to playlist') }}" title="{{ 'playlist.add'|trans|default('Add song to playlist') }}"></i></td>
        <td>{{ song.trackNumber }}</td>
        <td>{{ song.artist }}</td>
        <td>{{ song.title }}</td>
        <td>{{ song.album }}</td>
        <td>{{ song.duration }}</td>
        <td>{{ song.year }}</td>
        <td>{{ song.genre }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="8">no songs found</td>
    </tr>
{% endfor %}
</tbody>
