<section class="topbar">
    <div class="logo" role="img" aria-label="Soonic"></div>

    {% if is_library_route|default(false) %}
        <div id="player-container">
            <i class="icon-to-start" aria-hidden="true"></i>
            <i id="play-pause-button" class="icon-play" role="button" tabindex="0" aria-label="Play / Pause" title="Play / Pause"></i>
            <i class="icon-to-end" aria-hidden="true"></i>

            <audio id="player" preload="none">
                <source id="audio-source" src="" type="audio/mpeg"/>
            </audio>

            <div class="time-info-container">
                <div class="time-info">
                    <span id="current-time">00:00 /</span>
                    <span id="duration"> 00:00</span>
                </div>
                <div class="progress-bar-container">
                    <div class="progressbar">
                        <div class="progress-indicator"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="song-info">
            <span id="song-title" class="song-title"></span>
            <span id="song-artist" class="song-artist"></span>
        </div>
    {% endif %}

    <nav class="topbar-nav" id="top-bar-nav">
        <ul class="top-nav">
            <li id="navigation-search-form">
                {{ include('common/search.html.twig') }}
            </li>
            <li id="navigation-library">
                <a id="library-button" href="{{ path('library') }}" title="{{ 'artists'|trans }}" aria-label="{{ 'artists'|trans }}"><span class="material-icons" aria-hidden="true">people</span></a>
            </li>
            <li id="navigation-random">
                <a id="random-button" href="{{ path('random_songs') }}" title="{{ 'songs.loadrandom'|trans }}" aria-label="{{ 'songs.loadrandom'|trans }}"><span class="material-icons" aria-hidden="true">shuffle</span></a>
            </li>
            <li id="navigation-albums">
                <a id="albums-button" href="{{ path('album_index') }}" title="{{ 'albums'|trans }}" aria-label="{{ 'albums'|trans }}"><span class="material-icons" aria-hidden="true">album</span></a>
            </li>
            <li id="navigation-radios">
                <a id="radio-button" href="{{ path('radio_index') }}" title="{{ 'radios'|trans }}" aria-label="{{ 'radios'|trans }}"><span class="material-icons" aria-hidden="true">radio</span></a>
            </li>
            <li id="navigation-radio-new">
                <a id="radio-new-button" href="{{ path('radio_new') }}" title="{{ 'radio.new'|trans }}" aria-label="{{ 'radio.new'|trans }}"><span class="material-icons" aria-hidden="true">radio</span><span class="material-icons radio-add" aria-hidden="true">add</span></a>
            </li>
            <li id="navigation-settings">
                {% if show_settings_button|default(true) %}
                    <a id="settings-button" title="{{ 'settings'|trans }}" aria-label="{{ 'settings'|trans }}" href="{{ path('settings_index') }}">
                        <span class="material-icons" aria-hidden="true">settings</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>

    <button type="button" class="hamburger hamburger--elastic" aria-label="Toggle menu" title="Toggle menu">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</section>
