<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Soonic{% block title %}{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="Soonic">
        <meta name="application-name" content="Soonic">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Muli:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


        {% set theme = theme_helper.get() %}

        {% set layout_css = 'css/layout.css' %}
        {% set screen_css = 'css/screen.css' %}
        {% set fontello_css = 'css/fontello-embedded.css' %}
        {% set theme_layout_css = 'css/themes/' ~ theme ~ '/layout.css' %}
        {% set theme_screen_css = 'css/themes/' ~ theme ~ '/screen.css' %}

        <link href="/{{ layout_css }}?v={{ file_mtime(layout_css) }}" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/{{ screen_css }}?v={{ file_mtime(screen_css) }}" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="/{{ fontello_css }}?v={{ file_mtime(fontello_css) }}" media="screen, projection" rel="stylesheet" type="text/css" />

        {% if file_exists(theme_layout_css) %}
            <link id="layout-theme-css" href="/{{ theme_layout_css }}?v={{ file_mtime(theme_layout_css) }}" media="screen, projection" rel="stylesheet" type="text/css" />
        {% endif %}

        {% if file_exists(theme_screen_css) %}
            <link id="screen-theme-css" href="/{{ theme_screen_css }}?v={{ file_mtime(theme_screen_css) }}" media="screen, projection" rel="stylesheet" type="text/css" />
        {% endif %}

        {% block stylesheets %}{% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% set current_route = app.current_route|default('') %}
        {{ include('common/topbar.html.twig', {
            is_library_route: current_route == 'library',
            show_settings_button: current_route != 'settings_index'
        }) }}

        {% block body %}{% endblock %}

        <script src="/js/jquery-4.0.0.min.js?v={{ file_mtime('js/jquery-4.0.0.min.js') }}"></script>
        <script src="/js/lozad.min.js?v={{ file_mtime('js/lozad.min.js') }}"></script>
        <script src="/js/main.js?v={{ file_mtime('js/main.js') }}"></script>
        <script src="/js/album.js?v={{ file_mtime('js/album.js') }}"></script>
        <script src="/js/player.js?v={{ file_mtime('js/player.js') }}"></script>
        <script src="/js/radio.js?v={{ file_mtime('js/radio.js') }}"></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
