<!DOCTYPE html>
<html lang="{{ app.request.locale|default('en') }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Soonic{% block title %}{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="Soonic">
        <meta name="application-name" content="Soonic">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Muli:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% set theme = theme_helper.get() %}

        {% set base_css_files = [
            'css/layout.css',
            'css/screen.css',
            'css/fontello-embedded.css'
        ] %}
        {% set theme_layout_css = 'css/themes/' ~ theme ~ '/layout.css' %}
        {% set theme_screen_css = 'css/themes/' ~ theme ~ '/screen.css' %}

        {% for css_file in base_css_files %}
            <link href="/{{ css_file }}?v={{ file_mtime(css_file) }}" media="screen, projection" rel="stylesheet" type="text/css" />
        {% endfor %}

        {% if file_exists(theme_layout_css) %}
            <link id="layout-theme-css" href="/{{ theme_layout_css }}?v={{ file_mtime(theme_layout_css) }}" media="screen, projection" rel="stylesheet" type="text/css" />
        {% endif %}

        {% if file_exists(theme_screen_css) %}
            <link id="screen-theme-css" href="/{{ theme_screen_css }}?v={{ file_mtime(theme_screen_css) }}" media="screen, projection" rel="stylesheet" type="text/css" />
        {% endif %}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% set current_route = app.current_route|default('') %}
        {{ include('common/topbar.html.twig', {
            is_library_route: current_route == 'library',
            show_settings_button: current_route != 'settings_index'
        }) }}

        {% block body %}{% endblock %}

        {% set js_files = [
            'js/jquery-4.0.0.min.js',
            'js/lozad.min.js',
            'js/main.js',
            'js/album.js',
            'js/player.js',
            'js/radio.js'
        ] %}
        {% for js_file in js_files %}
            <script src="/{{ js_file }}?v={{ file_mtime(js_file) }}"></script>
        {% endfor %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
