{% extends 'base.html.twig' %}

{% block js %}
<script src="/js/main.js"></script>
{% endblock %}

{% block body %}
<h1>{{ 'settings'|trans }}</h1>
<section class="settings clearfix">

    <h2>{{ 'library'|trans }}</h2>

    <div class="libraryInfo">
        <div class="info">
            <span id="numFiles">{{ infos[0] }}</span> {{ 'files'|trans }}
        </div>
        <div class="info">
            <span id="numArtists">{{ infos[1] }}</span> artists
        </div>
        <div class="info">
            <span id="numAlbums">{{ infos[1] }}</span> albums
        </div>
    </div>

    <div class="info">
        <a id="scanButton" class="button" href="{{ path('radio_index') }}">{{ 'scan'|trans }}</a>
        <span id="scanStatus" class="info"></span>
        <span id="fileCount" class="info"></span>
    </div>

</section>

<section class="settings clearfix">

    <h2>{{ 'language'|trans }}</h2>

    <form name="appbundle_config" method="post" action="{{ path('config_edit', { 'id': 1 }) }}">

        {{ form_widget(edit_form) }}

        <div class="buttonWrapper">
            <input class="button" type="submit" value="{{ 'save'|trans }}" />
        </div>

    {{ form_end(edit_form) }}

</section>

<!-- <section class="settings clearfix">

    <h2>Theme</h2>

    TODO

</section> -->

{% endblock %}
