{% extends 'base.html.twig' %}

{% block js %}
<script src="/js/main.js"></script>
{% endblock %}

{% block body %}
<h1>{{ 'settings'|trans }}</h1>
<section class="settings clearfix">

    <h2>{{ 'library'|trans }}</h2>

    <div class="info">
        {{ 'found'|trans }}  <span id="numFiles">{{ numFiles }}</span> {{ 'files'|trans }}
    </div>

    <a id="scanButton" class="button" href="{{ path('radio_index') }}">{{ 'scan'|trans }}</a>

    <div id="scanStatus" class="info"></div>
    <div id="fileCount" class="info"></div>

</section>

<section class="settings clearfix">

    <h2>{{ 'language' }}</h2>

    {# {{ dump(dump) }} #}

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

</section>

<!-- <section class="settings clearfix">

    <h2>Theme</h2>

    TODO

</section> -->

{% if data is defined %}
{{ data }}
{% endif %}
{% endblock %}
