<nav class="artists-navigation">

    <div class="filter">
        <form class="filter-form" method="post">
            <label for="filter" data-text='filter'>{{ 'filter'|trans }}</label><input type="text" class="filter-input" name="filter" value="" placeholder="{{ 'filter.placeholder'|trans }}" required="required" autocomplete="off" data-text='filter.placeholder'>
            <button class="input-reset" type="reset"></button>
        </form>
    </div>

    {% include('library/artist-nav-list.html.twig') %}

    <div class="mobile-button mobile-forward-button mobile-artists-to-songs-button">
        <i class="icon-right-open"></i>
    </div>

</nav>

{{ include('library/songs.html.twig') }}
{{ include('library/playlist.html.twig') }}


<div class="songs-context-menu">
  <ul class="menu-options">
    <li id="add-to-playlist" class="menu-option">{{ 'playlist.add'|trans }}</li>
  </ul>
</div>

<div class="playlist-context-menu">
  <ul class="menu-options">
    <li id="remove-from-playlist" class="menu-option">{{ 'playlist.remove'|trans }}</li>
  </ul>
</div>
