<section id="songs-section" class="songs">
    <div class="songs-header-container">
        <table class="list songs-header" aria-hidden="true">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>{{ 'artist'|trans }}</th>
                    <th>{{ 'title'|trans }}</th>
                    <th>{{ 'album'|trans }}</th>
                    <th>{{ 'duration'|trans }}</th>
                    <th>{{ 'year'|trans }}</th>
                    <th>{{ 'genre'|trans }}</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="songs-container">
        <table id="songs" class="list" aria-label="{{ 'songs'|trans }}">
            <thead>
                <tr>
                    <th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="mobile-button mobile-forward-button mobile-songs-to-playlist-button" role="button" tabindex="0" aria-label="Show playlist" title="Show playlist">
        <i class="icon-right-open" aria-hidden="true"></i>
    </div>
    <div class="mobile-button mobile-back-button mobile-songs-to-artists-button" role="button" tabindex="0" aria-label="Back to artists" title="Back to artists">
        <i class="icon-left-open" aria-hidden="true"></i>
    </div>
</section>
